{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}
{% set activeLinkId = "legal" %}

{% block content %}
  <h1>Legal</h1>

  <h2 class="govuk-heading-l">Ordnance Survey data</h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        Contains OS data © Crown copyright and database rights {{ currentYear() }} OS AC0000850671. You are permitted to
        use this data solely to enable you to respond to, or interact with, the organisation that provided you with the
        data. You are not permitted to copy, sub-license, distribute or sell any of this data to third parties in any
        form.
      </p>
    </div>
  </div>
{% endblock %}
