{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukServiceNavigation({
  navigation: [
    {
      href: "/crime-mapping/crime-batches",
      text: "Crime mapping",
      active: activeLinkId == "crime-mapping"
    },
    {
      href: "/location-data/subjects",
      text: "Location data",
      active: activeLinkId == "location-data"
    },
    {
      href: "/legal",
      text: "Legal",
      active: activeLinkId == "legal"
    },
    {
      href: "#",
      text: "Help",
      active: activeLinkId == "help"
    }
  ]
}) }}
