HMPPS_AUTH_URL=http://localhost:9090/auth
TOKEN_VERIFICATION_API_URL=http://localhost:9090/verification
TOKEN_VERIFICATION_ENABLED=false
REDIS_ENABLED=false
NODE_ENV=development
AUTH_CODE_CLIENT_ID=hmpps-typescript-template
AUTH_CODE_CLIENT_SECRET=clientsecret
CLIENT_CREDS_CLIENT_ID=hmpps-typescript-template-system
CLIENT_CREDS_CLIENT_SECRET=clientsecret
ENVIRONMENT_NAME=dev
OS_MAPS_AUTH_URL=https://api.os.uk/oauth2/token/v1
OS_MAPS_TILE_URL=https://api.os.uk/maps/raster/v1/zxy/Road_3857/{z}/{x}/{y}
OS_MAPS_VECTOR_URL=https://api.os.uk/maps/vector/v1/vts
OS_MAPS_API_KEY=your_api_key_here
OS_MAPS_API_SECRET=your_api_secret_here
EM_CRIME_MATCHING_API_URL=http://localhost:9091/crime-matching
