{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "moj/components/alert/macro.njk" import mojAlert %}

{% set selectedDeviceIds = exportProximityAlertForm.selectedDeviceIds %}
{% set selectedTrackDeviceIds = exportProximityAlertForm.selectedTrackDeviceIds %}
{% set deviceWearers = crimeVersion.matching.deviceWearers if crimeVersion.matching else [] %}
{%
  set allDeviceIdsSelected =
  not selectedDeviceIds or
  ((selectedDeviceIds | length) == (deviceWearers | length))
%}

{{
  govukTag({
    text: crimeVersion.versionLabel,
    classes: "govuk-tag--" + crimeVersion.versionColour
  })
}}

<div class="govuk-grid-row govuk-!-static-margin-top-4">
  <div class="govuk-grid-column-three-quarters govuk-!-static-margin-top-1">
    {{
      govukCheckboxes({
        id: "crime-toggle",
        classes: "govuk-checkboxes--small",
        name: "crime-toggle",
        attributes: {
          "data-module": 'select-all'
        },
        items: [
          {
            value: "device-wearer-toggle",
            html: "<strong>" + crimeVersion.crimeReference + "</strong><br>" +
                  "<strong>" + crimeVersion.crimeTypeDescription + "</strong>",
            checked: allDeviceIdsSelected
          }
        ]
      })
    }}
  </div>

  <div class="govuk-grid-column-one-quarter govuk-!-static-margin-top-1">
    <a href="#" data-module="map-focus-on-layer" data-layer="crime" class="govuk-link"> View <br />on map </a>
  </div>
</div>

{{
  govukSummaryList({
    classes: "govuk-summary-list--no-border crime-version-summary-list",
    rows: [
      {
        key: {
          classes: "govuk-!-static-padding-top-0 govuk-!-static-padding-bottom-1",
          text: "From:"
        },
        value: {
          classes: "govuk-!-static-padding-top-0 govuk-!-static-padding-bottom-1",
          text: crimeVersion.crimeDateTimeFrom | formatDateTime("DD/MM/YYYY HH:mm")
        }
      },
      {
        key: {
          classes: "govuk-!-static-padding-top-0 govuk-!-static-padding-bottom-1",
          text: "To:"
        },
        value: {
          classes: "govuk-!-static-padding-top-0 govuk-!-static-padding-bottom-1",
          text: crimeVersion.crimeDateTimeTo | formatDateTime("DD/MM/YYYY HH:mm")
        }
      },
      {
        key: {
          classes: "govuk-!-static-padding-top-0 govuk-!-static-padding-bottom-1",
          text: "Desc:"
        },
        value: {
          classes: "govuk-!-static-padding-top-0 govuk-!-static-padding-bottom-1",
          text: crimeVersion.crimeText
        }
      }
    ]
  })
}}

<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m" />

{% if not crimeVersion.matching %}
  {{
    mojAlert({
      variant: "warning",
      title: "Matching for this crime has not occurred yet.",
      showTitleAsHeading: false,
      dismissible: false
    })
  }}
{% elif deviceWearers | length == 0 %}
  {{
    mojAlert({
      variant: "information",
      title: "No devices were matched to this crime.",
      showTitleAsHeading: false,
      dismissible: false
    })
  }}
{% else %}
  {% for deviceWearer in deviceWearers %}
    {{
      govukSummaryList({
        classes: "govuk-summary-list--no-border device-wearer-summary-list govuk-!-margin-bottom-0",
        rows: [
          {
            key: {
              classes: "govuk-!-static-padding-top-0 govuk-!-static-padding-bottom-1",
              text: "Name:"
            },
            value: {
              classes: "govuk-!-static-padding-top-0 govuk-!-static-padding-bottom-1",
              text: deviceWearer.name
            }
          },
          {
            key: {
              classes: "govuk-!-static-padding-top-0 govuk-!-static-padding-bottom-1",
              text: "NOMIS ID:"
            },
            value: {
              classes: "govuk-!-static-padding-top-0 govuk-!-static-padding-bottom-1",
              text: deviceWearer.nomisId
            }
          },
          {
            key: {
              classes: "govuk-!-static-padding-top-0 govuk-!-static-padding-bottom-1",
              text: "ID:"
            },
            value: {
              classes: "govuk-!-static-padding-top-0 govuk-!-static-padding-bottom-1",
              text: deviceWearer.deviceId
            }
          },
          {
            key: {
              classes: "govuk-!-static-padding-top-0 govuk-!-static-padding-bottom-1",
              text: "Count:"
            },
            value: {
              classes: "govuk-!-static-padding-top-0 govuk-!-static-padding-bottom-1",
              text: deviceWearer.positions.length
            }
          }
        ]
      })
    }}

    {{
      govukCheckboxes({
        id: 'device-wearer-toggle-' + deviceWearer.deviceId,
        classes: "govuk-checkboxes--small",
        name: "device-wearer-toggle-" + deviceWearer.deviceId,
        attributes: {
          "data-module": 'map-layer-visibility-toggle'
        },
        items: [
          {
            id: 'device-wearer-tracks-' + deviceWearer.deviceId,
            text: "Show tracks",
            name: 'device-wearer-tracks',
            value: 'device-wearer-tracks-' + deviceWearer.deviceId,
            checked: selectedTrackDeviceIds and ((deviceWearer.deviceId | string) in selectedTrackDeviceIds)
          },
          {
            id: 'device-wearer-' + deviceWearer.deviceId,
            value: 'device-wearer-' + deviceWearer.deviceId,
            text: "Include",
            name: 'device-wearer-toggle',
            checked: (not selectedDeviceIds) or ((deviceWearer.deviceId | string) in selectedDeviceIds)
          }
        ]
      })
    }}

    {% if not loop.last %}
      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m" />
    {% endif %}
  {% endfor %}

  <div class="govuk-!-margin-top-4">
    {{
      govukButton({
        text: "Export proximity alert",
        type: "submit"
      })
    }}
  </div>
{% endif %}
