{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{{
  govukTag({
  text: crimeVersion.versionLabel,
  classes: "govuk-tag--" + crimeVersion.versionColour
  })
}}

<div class="govuk-grid-row govuk-!-static-margin-top-4">
  <div class="govuk-grid-column-three-quarters govuk-!-static-margin-top-1">
    {{
      govukCheckboxes({
          id: "crime-include",
          classes: "govuk-checkboxes--small",
          name: "crime-include",
          items: [
              {
                  value: "crime-include",
                  html: "<strong>" + crimeVersion.crimeReference + "</strong><br>" + "<strong>" + crimeVersion.crimeType + "</strong>",
                  checked: true
              }
          ]
      })
    }}
  </div>

  <div class="govuk-grid-column-one-quarter">
    <a href="placeholder" class="govuk-link">View on map</a>
  </div>
</div>

{{
  govukSummaryList({
    classes: "govuk-summary-list--no-border summary-list--compact",
    rows: [
      {
        key: {
          text: "From:"
        },
        value: {
          text: crimeVersion.crimeDateTimeFrom | formatDateTime("DD/MM/YYYY HH:mm")
        }
      },
      {
        key: {
          text: "To:"
        },
        value: {
          text: crimeVersion.crimeDateTimeTo | formatDateTime("DD/MM/YYYY HH:mm")
        }
      },
      {
        key: {
          text: "Desc:"
        },
        value: {
          text: crimeVersion.crimeText
        }
      }
    ]
  })
}}

<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m" />
{% for deviceWearer in crimeVersion.matching.deviceWearers %}

  {{
    govukSummaryList({
      classes: "govuk-summary-list--no-border govuk-!-margin-bottom-0",
      rows: [
        {
          key: {
            text: "Name:"
          },
          value: {
            text: deviceWearer.name
          }
        },
        {
          key: {
            text: "NOMIS ID:"
          },
          value: {
            text: deviceWearer.nomisId
          }
        },
        {
          key: {
            text: "ID:"
          },
          value: {
            text: deviceWearer.deviceId
          }
        },
        {
          key: {
            text: "Count:"
          },
          value: {
            text: deviceWearer.positions.length
          }
        }
        ]
    })
  }}

  {{
    govukCheckboxes({
        classes: "govuk-checkboxes--small",
        id: "show-tracks-" + deviceWearer.deviceId,
        name: "show-tracks-" + deviceWearer.deviceId,
        items: [
            {
            value: "show-tracks-" + deviceWearer.deviceId,
            text: "Show tracks"
            }
        ]
    })
  }}

  {{
    govukCheckboxes({
        classes: "govuk-checkboxes--small",
        id: "include-" + deviceWearer.deviceId,
        name: "include-" + deviceWearer.deviceId,
        items: [
            {
            value: "include-" + deviceWearer.deviceId,
            text: "Include",
            checked: true
            }
        ]
    })
  }}

  {% if not loop.last %}
    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m" />
  {% endif %}
{% endfor %}
