.location-data {
  padding: 0;
  margin: 0;

  .app-map__sidebar {
    .govuk-tabs {
      margin-bottom: 0;
    }

    .govuk-tabs__list-item {
      border-top: none;
    }

    .govuk-tabs__panel {
      border-left: none;
      border-bottom: none;
    }

    .govuk-form-group {
      @include govuk-responsive-margin(2, "bottom");
    }
  }
}
