{% extends "../../partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "../../components/datatable/macro.njk" import dataTable %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "../../components/date-time-picker/macro.njk" import dateTimePicker %}

{% set pageTitle = applicationName + " - Persons Search" %}
{% set mainClasses = "app-container govuk-body device-activation-search" %}
{% set rows = [] %}
{% set pageSize = 10 %}
{% set currentPage = 1 %}
{% set totalPages = (persons.length / pageSize) | round(0, 'ceil') %}
{% set activeLinkId = "location-data" %}

{% set nameHtml %}
{{ govukInput({
  id: "name",
  name: "name",
  value: name,
  classes: "govuk-!-width-two-thirds",
  label: {
    text: "Name"
  }
}) }}
{% endset %}

{% set nomisIdHtml %}
{{ govukInput({
  id: "nomis-id",
  name: "nomisId",
  value: nomisId,
  classes: "govuk-!-width-two-thirds",
  label: {
    text: "NOMIS ID"
  }
}) }}
{% endset %}

{% for person in persons %}
  {% for deviceActivation in person.deviceActivations %}
    {% set selected = ' checked' if formData.deviceActivationId == deviceActivation.deviceActivationId else '' %}
    {%
      set rows = (rows.push(
        [
          {
            html: '<div class="govuk-radios__item govuk-radios--small">
                    <input type="radio" class="govuk-radios__input" name="deviceActivationId" id="' + deviceActivation.deviceActivationId + '" value="' + deviceActivation.deviceActivationId + '" autocomplete="off"' + selected +'>
                    <label class="govuk-label govuk-radios__label" for="' + deviceActivation.deviceActivationId + '">
                    </label>
                  </div>'
          },
          {
            text: person.nomisId
          },
          {
            text: person.name
          },
          {
            text: person.dateOfBirth | formatDate
          },
          {
            text: person.address
          },
          {
            text: deviceActivation.deviceId
          },
          {
            text: deviceActivation.deviceActivationDate | formatDate
          },
          {
            text: deviceActivation.deviceDeactivationDate | formatDate
          }
        ]
      ), rows)
    %}
  {% endfor %}
{% endfor %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <h1 class="govuk-heading-m">Search Location Data</h1>
      <form method="post" novalidate id="person-search-form">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {{ govukRadios({
          name: "personSearchType",
          hint: {
            text: "Select one option"
          },
          fieldset: {
            legend: {
              text: "Search",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          errorMessage: errors.personSearchType,
          items: [
            {
              value: "name",
              text: "Name",
              checked: formData.personSearchType === 'name',
              conditional: {
                html: nameHtml
              }
            },
            {
              value: "nomisId",
              text: "NOMIS ID",
              checked: formData.personSearchType === 'nomisId',
              conditional: {
                html: nomisIdHtml
              }
            }
          ]
        }) }}

        {{
          govukButton({
            id: "search-persons-button",
            text: "Search",
            name: "action"
          })
        }}
      </form>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
      {% include "./partials/dateFilterForm.njk" %}
    </div>

    <div class="govuk-grid-column-three-quarters">
      <h2 class="govuk-heading-m">
        Results
        <span class="govuk-caption-m">Select a row before applying dates and time</span>
      </h2>
      {{
        dataTable({
          columns: [
            {
              text: ""
            },
            {
              text: "NOMIS ID"
            },
            {
              text: "Name"
            },
            {
              text: "Date of Birth"
            },
            {
              text: "Address"
            },
            {
              text: "Device ID"
            },
            {
              text: "Tag Period Start"
            },
            {
              text: "Tag Period End"
            }
          ],
          rows: rows,
          pagination: {
            pageCount: pageCount,
            currentPage: pageNumber,
            hrefPrefix: '?name=' + name + "&nomisId=" + nomisId + "&personSearchType=" + formData.personSearchType
          }
        })
      }}
    </div>
  </div>
{% endblock %}
