{% extends "../../partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../components/datatable/macro.njk" import dataTable %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{% set pageTitle = applicationName + " - Subject Search" %}
{% set mainClasses = "app-container govuk-body" %}
{% set rows = [] %}
{% set pageSize = 10 %}
{% set currentPage = 1 %}
{% set totalPages = (subjects.length / pageSize) | round(0, 'ceil') %}
{% set activeLinkId = "location-data" %}

{% for subject in subjects %}
  {%
    set rows = (rows.push(
      [
        {
          html: '<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                  <input type="checkbox" class="govuk-checkboxes__input" name="selectedSubjects" id="' + subject.nomisId + '" value="' + subject.nomisId  + '" autocomplete="off">
                  <label class="govuk-label govuk-checkboxes__label" for="' + subject.nomisId + '">
                  </label>
                </div>'
        },
        {
          text: subject.nomisId
        },
        {
          text: subject.name
        },
        {
          text: subject.dateOfBirth
        },
        {
          text: subject.address
        },
        {
          text: subject.orderStartDate
        },
        {
          text: subject.orderEndDate
        },
        {
          text: subject.deviceId
        },
        {
          text: subject.tagPeriodStartDate
        },
        {
          text: subject.tagPeriodEndDate
        }
      ]
    ), rows)
  %}
{% endfor %}

{% block content %}
  <h1>Subject Search</h1>
  <form method="post" novalidate id="subject-search-form">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    {{
      govukInput({
        label: {
          text: "Name",
          classes: "govuk-label--s"
        },
        classes: "govuk-!-width-two-thirds",
        id: "name",
        name: "name",
        value: name.value,
        errorMessage: errors.name
      })
    }}

    {{
      govukInput({
        label: {
          text: "NOMIS ID",
          classes: "govuk-label--s"
        },
        classes: "govuk-!-width-two-thirds",
        id: "nomis-id",
        name: "nomisId",
        value: nomisId.value
      })
    }}

    {{
      govukButton({
        text: "Search",
        name: "action"
      })
    }}
  </form>

  {{
    dataTable({
      columns: [
        {
          text: ""
        },
        {
          text: "NOMIS ID"
        },
        {
          text: "Name"
        },
        {
          text: "Date of Birth"
        },
        {
          text: "Address"
        },
        {
          text: "Order Start"
        },
        {
          text: "Order End"
        },
        {
          text: "Device ID"
        },
        {
          text: "Tag Period Start"
        },
        {
          text: "Tag Period End"
        }
      ],
      rows: rows,
      pagination: {
        pageCount: pageCount,
        currentPage: pageNumber,
        hrefPrefix: '?queryId=' + queryId
      }
    })
  }}
{% endblock %}
