{% extends "../../partials/fullWidthLayout.njk" %}
{% from "../../components/map/macro.njk" import appMap %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}
{% set activeLinkId = "location-data" %}

{% block content %}
  {{
    appMap({
      geoData: {
        points: points,
        lines: lines
      },
      tileUrl: tileUrl,
      alerts: alerts
    })
  }}
{% endblock %}
