{% extends "../../partials/fullWidthLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "../../components/map/macro.njk" import appMap %}
{% from "../../components/date-time-picker/macro.njk" import dateTimePicker %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body location-data" %}
{% set activeLinkId = "location-data" %}


{% set timeHtml %}
  {% include "./partials/dateFilterForm.njk" %}

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />

  {% include "./partials/exportForm.njk" %}
{% endset %}


{% set analysisHtml %}
  {{
    govukCheckboxes({
      id: "locations",
      name: "locations",
      fieldset: {
        legend: {
          text: "Show locations",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: "on",
          text: "Toggled on",
          checked: true
        }
      ]
    })
  }}

  {{
    govukCheckboxes({
      id: "confidence",
      name: "confidence",
      fieldset: {
        legend: {
          text: "Show confidence circles",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: "on",
          text: "Toggled on",
          checked: false
        }
      ]
    })
  }}

  {{
    govukCheckboxes({
      id: "tracks",
      name: "tracks",
      fieldset: {
        legend: {
          text: "Show tracks",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: "on",
          text: "Toggled on",
          checked: false
        }
      ]
    })
  }}

  {{
    govukCheckboxes({
      id: "numbering",
      name: "numbering",
      fieldset: {
        legend: {
          text: "Show location numbering",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: "on",
          text: "Toggled on",
          checked: false
        }
      ]
    })
  }}
{% endset %}


{% set sidebarHtml %}
  {{
    govukTabs({
      items: [
        {
          label: "Time",
          id: "time",
          panel: {
            html: timeHtml
          }
        },
        {
          label: "Analysis",
          id: "analysis",
          panel: {
            html: analysisHtml
          }
        }
      ]
    })
  }}
{% endset %}

{% block content %}
  {{
    appMap({
      apiKey: apiKey,
      cspNonce: cspNonce,
      geoJson: geoJson,
      tileUrl: tileUrl,
      vectorUrl: vectorUrl,
      alerts: alerts,
      usesInternalOverlays: true,
      sidebarHtml: sidebarHtml
    })
  }}

  {# The {{ }} placeholders are not processed by Nunjucks.
      They are used as markers and replaced within assets/js files at runtime.
      Implemented this way to avoid large Template Literals in the JavaScript file. #}
  {% raw %}
    <template id="overlay-template-mdss-location">
      <div part="app-map__overlay-row">
        <strong part="app-map__overlay-strong">Speed: </strong><span>{{ displaySpeed }}</span>
      </div>
      <div part="app-map__overlay-row">
        <strong part="app-map__overlay-strong">Direction: </strong><span>{{ displayDirection }}</span>
      </div>
      <div part="app-map__overlay-row">
        <strong part="app-map__overlay-strong">Geolocation Mechanism: </strong
        ><span>{{ displayGeolocationMechanism }}</span>
      </div>
      <div part="app-map__overlay-row">
        <strong part="app-map__overlay-strong">Recorded Date: </strong><span>{{ displayTimestamp }}</span>
      </div>
      <div part="app-map__overlay-row">
        <strong part="app-map__overlay-strong">Confidence: </strong><span>{{ displayConfidence }}</span>
      </div>
      <div part="app-map__overlay-row">
        <strong part="app-map__overlay-strong">Latitude: </strong><span>{{ displayLatitude }}</span>
      </div>
      <div part="app-map__overlay-row">
        <strong part="app-map__overlay-strong">Longitude: </strong><span>{{ displayLongitude }}</span>
      </div>
    </template>
  {% endraw %}
{% endblock %}
