{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}
{% set activeLinkId = "crime-mapping" %}

{% block content %}

  <h1>Crime Batches</h1>

{% endblock %}
