$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import "govuk-frontend/dist/govuk/index";
@import "@ministryofjustice/frontend/moj/all";
@import '@ministryofjustice/hmpps-probation-frontend-components/dist/assets/footer';
@import '@ministryofjustice/hmpps-probation-frontend-components/dist/assets/header';

@import './components/map';
@import './views/location-data/index';
@import './views/location-data/subject';
@import './views/proximity-alert/matching-results';
@import './local';

.govuk-full-width-container {
    @include govuk-width-container(1400px);
}