.govuk-full-width-container {
  @media #{govuk-from-breakpoint(desktop)} {
    max-width: 100% !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .govuk-grid-row {
    .govuk-grid-column-one-quarter-from-desktop {
      @media #{govuk-from-breakpoint(desktop)} {
        padding-right: 0;
      }
    }

    .govuk-grid-column-three-quarters-from-desktop {
      height: calc(100vh - 70px - 55px);

      @media #{govuk-from-breakpoint(desktop)} {
        padding-left: 0;
      }
    }
  }
}
