.map-container {
  @media #{govuk-from-breakpoint(desktop)} {
    padding: 0;
    margin: 0;
  }

  .govuk-grid-row {
    .govuk-grid-column-one-quarter-from-desktop {
      @media #{govuk-from-breakpoint(desktop)} {
        padding-right: 0;
      }
    }

    .govuk-grid-column-three-quarters-from-desktop {
      height: calc(100vh - 70px - 55px);

      @media #{govuk-from-breakpoint(desktop)} {
        padding-left: 0;
      }
    }
  }

  .app-map {
    .app-map__error {
      position: absolute;
      margin: 5px 60px;
      z-index: 1;
    }

    .app-map__sidebar {
      overflow-y: auto;
      max-height: calc(100vh - 70px - 55px);

      .govuk-tabs {
        @media #{govuk-from-breakpoint(desktop)} {
          margin-bottom: 0;
        }
      }

      .govuk-tabs__list-item {
        @media #{govuk-from-breakpoint(desktop)} {
          border-top: none;
        }
      }

      .govuk-tabs__panel {
        @media #{govuk-from-breakpoint(desktop)} {
          border-right: none;
          border-left: none;
          border-bottom: none;
        }
      }

      .govuk-form-group {
        @include govuk-responsive-margin(4, "bottom");
      }

      .govuk-fieldset__legend  {
        margin-bottom: 0;
      }
    }
  }
}
