.app-map {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: calc(100vh - 70px - 55px);
}

.app-map__sidebar {
  border-left: 1px solid $govuk-border-colour;
  overflow-y: scroll;
}

.app-map__error {
  position: absolute;
  margin: 5px 60px;
  z-index: 1;
}