.app-map {
  display: grid;
  grid-template-columns: 1fr 350px;
  grid-template-rows: calc(100vh - 65px - 77px);
  margin-top: govuk-spacing(-7);
}

.app-map__sidebar {
  border-left: 1px solid $govuk-border-colour;
  padding: govuk-spacing(4) govuk-spacing(3);
}

.app-map__error {
  position: absolute;
  margin: 5px 60px;
}

/* Override map component overlay styles */
moj-map::part(app-map__overlay) {
  position: relative;
  background-color: govuk-colour("white");
  border: 1px solid govuk-colour("black");
  min-width: 180px;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(govuk-colour("black"), 0.1);
}

/* Arrow border */
moj-map::part(app-map__overlay)::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -25px;
  transform: translateX(-50%);
  border-width: 12px;
  border-style: solid;
  border-color: govuk-colour("black") transparent transparent transparent;
  z-index: -1;
}

/* Arrow fill */
moj-map::part(app-map__overlay)::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -21px;
  transform: translateX(-50%);
  border-width: 11px;
  border-style: solid;
  border-color: govuk-colour("white") transparent transparent transparent;
  z-index: 1;
}

moj-map::part(app-map__overlay-header) {
  display: flex;
  justify-content: flex-end;
  background-color: govuk-colour("light-grey");
  padding: 4px 8px;
  border-bottom: 1px solid $govuk-border-colour;
}

moj-map::part(app-map__overlay-header) .app-map__overlay-close {
  background: none;
  border: none;
  font-size: 20px;
  line-height: 1;
  cursor: pointer;
  color: $govuk-text-colour;
}

moj-map::part(app-map__overlay-body) {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 4px 12px;
  font-size: 16px;
  padding: 10px;
}

moj-map::part(app-map__overlay-row) {
  display: contents;
  text-align: left;
  word-break: break-word;
}

moj-map::part(app-map__overlay-strong) {
  text-align: right;
  white-space: nowrap;
}