.table-cell--red {
  color: govuk-colour("red");
}

.table-cell--bold {
  @include govuk-font($size: false, $weight: "bold");
}

.table-cell--middle {
  vertical-align: middle;
  padding: 5px 20px 5px 0;
}

.table-cell--background-blue {
  background-color: govuk-colour("blue", $variant: "tint-95");
}
