{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../../components/date-time-picker/macro.njk" import dateTimePicker %}

<form method="POST">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
  {{
    dateTimePicker({
      id: "from-date",
      name: "fromDate",
      text: "Date from",
      value: formData.fromDate,
      errors: errors.fromDate
    })
  }}

  {{
    dateTimePicker({
      id: "to-date",
      name: "toDate",
      text: "Date to",
      value: formData.toDate,
      errors: errors.toDate
    })
  }}

  <div class="govuk-button-group">
    {{
      govukButton({
        text: "Apply"
      })
    }}

    {{
      govukButton({
        text: "Reset",
        classes: "govuk-button--secondary"
      })
    }}
  </div>
</form>
