{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{{ 
  mojDatePicker({
    id: params.id,
    name: params.name,
    label: {
      text: params.text
    },
    errorMessage: params.errors.date
  }) 
}}

<div class="govuk-date-input">
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        {{
          govukInput({
            label: {
              text: "Hour",
              classes: "govuk-label--s"
            },
            classes: "govuk-date-input__input govuk-input--width-2",
            id: params.id + "-hour",
            name: params.id + "Hour",
            errorMessage: params.errors.hour
          })
        }}
      </div>
    </div>
    
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        {{
          govukInput({
            label: {
              text: "Minute",
              classes: "govuk-label--s"
            },
            classes: "govuk-date-input__input govuk-input--width-2",
            id: params.id + "-minute",
            name: params.id + "Minute",
            errorMessage: params.errors.minute
          })
        }}
      </div>
    </div>

    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        {{
          govukInput({
            label: {
              text: "Second",
              classes: "govuk-label--s"
            },
            classes: "govuk-date-input__input govuk-input--width-2",
            id: params.id + "-second",
            name: params.id + "Second",
            errorMessage: params.errors.second
          })
        }}
      </div>
    </div>
</div>