{% extends "../../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
{% from "../../components/datatable/macro.njk" import dataTable %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}
{% set activeLinkId = "data-ingestion" %}
{% set rows = [] %}

{% for ingestionAttempt in ingestionAttempts %}

  {% if ingestionAttempt.ingestionStatus == 'SUCCESSFUL' %}
    {% set statusColour = "green" %}
    {% set statusText = "Ingested" %}
  {% elif ingestionAttempt.ingestionStatus == 'PARTIAL' %}
    {% set statusColour = "yellow" %}
    {% set statusText = "Partially ingested" %}
  {% elif ingestionAttempt.ingestionStatus == 'FAILED' %}
    {% set statusColour = "red" %}
    {% set statusText = "Failed ingestion" %}
  {% endif %}


  {% set status %}
    {{
      govukTag({
        text: statusText,
        classes: "govuk-tag--" + statusColour
      })
    }}
  {% endset %}


  {% set link %}
    <a href="/police-data/ingestion-attempts/{{ ingestionAttempt.ingestionAttemptId }}">
      {{ ingestionAttempt.batchId }}
    </a>
  {% endset %}

  {% if ingestionAttempt.matches == null %}
    {% set matchesClasses = "table-cell--red table-cell--bold" %}
    {% set matchesText = "N/A" %}
  {% elif ingestionAttempt.matches == 0 %}
    {% set matchesClasses = "table-cell--red table-cell--bold" %}
    {% set matchesText = "0" %}
  {% else %}
    {% set matchesClasses = "" %}
    {% set matchesText = ingestionAttempt.matches %}
  {% endif %}

  {%
    set rows = (rows.push(
      [
        {
          text: ""
        },
        {
          html: status
        },
        {
          text: ingestionAttempt.policeForceArea
        },
        {
          html: link
        },
        {
          text: matchesText,
          classes: matchesClasses
        },
        {
          text: ingestionAttempt.createdAt | formatDateTime("DD/MM/YYYY")
        },
        {
          text: ingestionAttempt.createdAt | formatDateTime("HH:mm:ss")
        }
      ]
    ), rows)
  %}
{% endfor %}

{% if rows.length == 0 %}
  {%
    set rows = [
      [
        {
          text: ""
        },
        {
          text: "No results found for applied filters.",
          colspan: 6
        }
      ]
    ]
  %}
{% endif %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-!-static-margin-top-0">Data ingestion / export</h1>
    </div>
  </div>

  <div class="police-data-dashboard-filters govuk-!-static-padding-5 govuk-!-static-margin-bottom-7">
    <form id="search-ingestion-attempts-form" method="POST" novalidate>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          {{
            govukSelect({
              id: "policeForceArea",
              name: "policeForceArea",
              label: {
                text: "Police force area",
                classes: "govuk-label--s"
              },
              hint: {
                text: "Example: Metropolitan"
              },
              errorMessage: { text: validationErrors.policeForceArea } if validationErrors.policeForceArea,
              items: [
                {
                  value: "",
                  text: ""
                },
                {
                  value: "AVON_AND_SOMERSET",
                  text: "Avon and Somerset"
                },
                {
                  value: "BEDFORDSHIRE",
                  text: "Bedfordshire"
                },
                {
                  value: "CHESHIRE",
                  text: "Cheshire"
                },
                {
                  value: "CUMBRIA",
                  text: "Cumbria"
                },
                {
                  value: "DERBYSHIRE",
                  text: "Derbyshire"
                },
                {
                  value: "DURHAM",
                  text: "Durham"
                },
                {
                  value: "ESSEX",
                  text: "Essex"
                },
                {
                  value: "GLOUCESTERSHIRE",
                  text: "Gloucestershire"
                },
                {
                  value: "GWENT",
                  text: "Gwent"
                },
                {
                  value: "HAMPSHIRE",
                  text: "Hampshire"
                },
                {
                  value: "HERTFORDSHIRE",
                  text: "Hertfordshire"
                },
                {
                  value: "HUMBERSIDE",
                  text: "Humberside"
                },
                {
                  value: "KENT",
                  text: "Kent"
                },
                {
                  value: "METROPOLITAN",
                  text: "Metropolitan"
                },
                {
                  value: "NORTH_WALES",
                  text: "North Wales"
                },
                {
                  value: "NOTTINGHAMSHIRE",
                  text: "Nottinghamshire"
                },
                {
                  value: "SUSSEX",
                  text: "Sussex"
                },
                {
                  value: "WEST_MIDLANDS",
                  text: "West Midlands"
                }
              ],
              value: policeForceArea
            })
          }}
        </div>
        <div class="govuk-grid-column-one-third">
          {{
            govukInput({
              label: {
                  text: "Batch ID",
                  classes: "govuk-label--s"
              },
              hint: {
                text: "Example: MPS20251110"
              },
              classes: "govuk-input--width-10",
              errorMessage: { text: validationErrors.batchId } if validationErrors.batchId,
              id: "batchId",
              name: "batchId",
              value: batchId
            })
          }}
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          {{
            mojDatePicker({
              id: "fromDate",
              name: "fromDate",
              label: {
                text: "Date from",
                classes: "govuk-label--s"
              },
              formGroup: {
                classes: 'govuk-!-static-margin-bottom-7'
              },
              errorMessage: { text: validationErrors.fromDate } if validationErrors.fromDate,
              value: fromDate
            })
          }}
        </div>
        <div class="govuk-grid-column-one-third">
          {{
            mojDatePicker({
              id: "toDate",
              name: "toDate",
              label: {
                text: "Date to",
                classes: "govuk-label--s"
              },
              errorMessage: { text: validationErrors.toDate } if validationErrors.toDate,
              value: toDate
            })
          }}
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          {{
            govukButton({
              text: "Search",
              classes: "govuk-!-static-margin-bottom-0"
            })
          }}
        </div>
      </div>
    </form>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{
        govukButton({
          text: "Export"
        })
      }}
    </div>
  </div>

  {{
    dataTable({
      classes: "ingestion-attempts-table",
      columns: [
        {
          text: ""
        },
        {
          text: "Status"
        },
        {
          text: "Police force area"
        },
        {
          text: "Batch"
        },
        {
          text: "Matches"
        },
        {
          text: "Date"
        },
        {
          text: "Time"
        }
      ],
      rows: rows,
      pagination: {
        pageCount: pageCount,
        currentPage: pageNumber,
        hrefPrefix: ""
      }
    })
  }}
{% endblock %}
