{% extends "../../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "../../components/datatable/macro.njk" import dataTable %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}
{% set activeLinkId = "data-ingestion" %}


{% set status %}
  {{
    govukTag({
      text: ingestionAttempt.ingestionStatusText,
      classes: "govuk-tag--" + ingestionAttempt.ingestionStatusColour
    })
  }}
{% endset %}

{% if ingestionAttempt.matchesText == 'N/A' %}
  {% set matchesClasses = "table-cell--red table-cell--bold" %}
{% elif ingestionAttempt.matches == 0 %}
  {% set matchesClasses = "table-cell--red table-cell--bold" %}
{% else %}
  {% set matchesClasses = "" %}
{% endif %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-!-static-margin-top-0">Batch details</h1>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-static-margin-bottom-3">
    <div class="govuk-grid-column-full">
      {{
        dataTable({
          caption: "Summary",
          captionClasses: "govuk-table__caption--m",
          classes: "ingestion-attempt-summary-table",
          columns: [
            {
              text: "Status"
            },
            {
              text: "Police force area"
            },
            {
              text: "Batch"
            },
            {
              text: "Filename"
            },
            {
              text: "Matches"
            },
            {
              text: "Date"
            },
            {
              text: "Time"
            }
          ],
          rows: [
            [
              {
                html: status
              },
              {
                text: ingestionAttempt.policeForceArea
              },
              {
                text: ingestionAttempt.batchId
              },
              {
                text: ingestionAttempt.fileName
              },
              {
                text: ingestionAttempt.matchesText,
                classes: matchesClasses
              },
              {
                text: ingestionAttempt.createdAt | formatDateTime("DD/MM/YYYY")
              },
              {
                text: ingestionAttempt.createdAt | formatDateTime("HH:mm:ss")
              }
            ]
          ]
        })
      }}
    </div>
  </div>

  {% if ingestionAttempt.displayCrimeBreakdown %}
    {%- include "./partials/crimeBreakdown.njk" -%}
  {% endif %}

  <div class="govuk-grid-row govuk-!-static-margin-bottom-3">
    <div class="govuk-grid-column-full">
      {{
        govukTable({
          caption: "Failed validation",
          captionClasses: "govuk-table__caption--m",
          head: [
            {
              text: "Crime reference"
            },
            {
              text: "Error type"
            },
            {
              text: "Required action"
            }
          ],
          rows: []
        })
      }}
    </div>
    <div class="govuk-grid-column-full">
      {{
        govukButton({
          text: "Export"
        })
      }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Failed ingestion</h2>
      <p>
        No crimes have been ingested. Please refer to email "MoJ Acquisitive Crime - Ingestion - Failure -" for details.
      </p>
    </div>
  </div>
{% endblock %}
