{% extends "../../partials/layout.njk" %}
{% from "../../components/map/macro.njk" import appMap %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}

{% set pageTitle = applicationName + " - Home" %}
{% set containerClasses = "govuk-full-width-container-no-gutter" %}
{% set mainClasses = "app-container govuk-body map-container proximity-alert" %}
{% set activeLinkId = "proximity-alert" %}


{% set reportsHtml %}
  {%- include "./partials/reports.njk" -%}
{% endset %}

{% block beforeContent %}
  <div class="govuk-!-static-padding-left-4">
    {{
      govukBackLink({
        text: "Back",
        href: backLink
      })
    }}
  </div>
{% endblock %}


{% set analysisHtml %}
  {{
    govukCheckboxes({
      id: "analysis-toggles",
      classes: "govuk-checkboxes--small",
      name: "analysis-toggles",
      attributes: {
        "data-module": 'map-layer-visibility-toggle'
      },
      items: [
        {
          value: "device-wearer-circles-",
          text: "Show confidence circles",
          checked: true
        },
        {
          value: "device-wearer-labels-",
          text: "Show location numbering",
          checked: true
        }
      ]
    })
  }}
{% endset %}


{% set sidebarHtml %}
  {{
    govukTabs({
      items: [
        {
          label: "Reports",
          id: "reports",
          panel: {
            html: reportsHtml
          }
        },
        {
          label: "Analysis",
          id: "analysis",
          panel: {
            html: analysisHtml
          }
        }
      ]
    })
  }}
{% endset %}

{% block content %}
  {{
    appMap({
      cspNonce: cspNonce,
      positions: positions,
      alerts: alerts,
      usesInternalOverlays: true,
      sidebarHtml: sidebarHtml
    })
  }}

  {% raw %}
    <template id="overlay-title-crime-location">
      <div><strong>Crime Ref: {{ crimeReference }}</strong></div>
    </template>

    <template id="overlay-body-crime-location">
      <div class="app-map__overlay-row">
        <span class="app-map__overlay-label">Crime Ref:</span>
        <span class="app-map__overlay-value">{{ crimeReference }}</span>
      </div>
      <div class="app-map__overlay-row">
        <span class="app-map__overlay-label">Crime Batch:</span>
        <span class="app-map__overlay-value">{{ batchId }}</span>
      </div>
      <div class="app-map__overlay-row" part="app-map__overlay-row">
        <span class="app-map__overlay-label">Location:</span>
        <span class="app-map__overlay-value">{{ longitude }}, {{ latitude }}</span>
      </div>
      <div class="app-map__overlay-row" part="app-map__overlay-row">
        <span class="app-map__overlay-label">Crime Window:</span>
        <span class="app-map__overlay-value"
          >{{ crimeDateTimeFrom }} <br />
          {{ crimeDateTimeTo }}</span
        >
      </div>
    </template>
  {% endraw %}
{% endblock %}
