{% extends "../../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
{% from "../../components/datatable/macro.njk" import dataTable %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}
{% set activeLinkId = "proximity-alert" %}
{% set rows = [] %}
{% set returnTo = (URLS.PROXIMITY_ALERT.CRIME_VERSIONS.VIEW + '?' ~ paginationHrefPrefix) | urlencode %}

{% for crime in crimes %}
  {% set path = URLS.PROXIMITY_ALERT.CRIME_VERSION.VIEW | replace(':crimeVersionId', crime.crimeVersionId) %}
  {% set href = path + "?returnTo=" + returnTo %}

  {% set crimeReferenceCell %}
    <a href="{{ href }}"> {{ crime.crimeReference }} </a></br>{{ crime.policeForceArea }}
  {% endset %}

  {% set versionTag %}
    {{
      govukTag({
        text: crime.versionLabel,
        classes: "govuk-tag--" + crime.versionColour
      })
    }}
  {% endset %}

  {% set cells = [
    {
      text: crime.matchedText
    },
    {
      text: crime.crimeType
    },
    {
      text: crime.crimeDate | formatDateTime("DD/MM/YYYY")
    },
    {
      html: crime.ingestionDateTime | formatDateTime("DD/MM/YYYY") + "</br>" + crime.ingestionDateTime | formatDateTime("HH:mm:ss")
    },
    {
      text: crime.batchId
    },
    {
      html: crime.updates
    },
    {
      html: versionTag
    }
  ] %}

  {% if crime.isGroupHead %}
    {% set noop = cells.unshift({ html: crimeReferenceCell, rowspan: crime.groupSize }) %}
  {% endif %}

  {% set rows = (rows.push(cells), rows) %}
{% endfor %}

{% if rows.length == 0 %}
  {%
    set rows = [
      [
        {
          text: "No results found for " + crimeReference + "." if crimeReference else "Enter a crime reference and click search.",
          colspan: 8
        }
      ]
    ]
  %}
{% endif %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-!-static-margin-top-0">Search crimes</h1>
    </div>
  </div>

  <form id="search-crime-versions-form" method="POST" novalidate>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        {{
          govukInput({
            label: {
                text: "Crime reference",
                classes: "govuk-label--s"
            },
            hint: {
              text: "Example: 12/1234567/12"
            },
            classes: "govuk-input--width-10",
            errorMessage: { text: validationErrors.crimeReference } if validationErrors.crimeReference,
            id: "crimeReference",
            name: "crimeReference",
            value: crimeReference
          })
        }}
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {{
          govukButton({
            text: "Search"
          })
        }}
      </div>
    </div>
  </form>

  {{
    dataTable({
      classes: "crime-versions-table",
      columns: [
        {
          html: "Crime reference,</br>police force area"
        },
        {
          text: "Matched device wearers",
          classes: "govuk-!-width-one-eighth"
        },
        {
          text: "Crime type"
        },
        {
          text: "Crime date"
        },
        {
          text: "Data ingested"
        },
        {
          text: "Batch ID"
        },
        {
          text: "Updates"
        },
        {
          text: "Source data version",
          classes: "govuk-!-width-one-eighth"
        }
      ],
      rows: rows,
      pagination: {
        pageCount: pageCount,
        currentPage: pageNumber,
        hrefPrefix: "?" + paginationHrefPrefix
      }
    })
  }}
{% endblock %}
