{% extends "../../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
{% from "../../components/datatable/macro.njk" import dataTable %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}
{% set activeLinkId = "proximity-alert" %}
{% set rows = [] %}

{% for crime in crimes %}
  {% set link %}
    <a
      href="/proximity-alert/{{ crime.crimeVersionId }}?returnTo={{ ('/proximity-alert?' ~ paginationHrefPrefix) | urlencode }}"
    >
      {{ crime.crimeReference }}
    </a>
  {% endset %}


  {% set versionTag %}
    {{
      govukTag({
        text: crime.versionLabel,
        classes: "govuk-tag--" + crime.versionColour
      })
    }}
  {% endset %}

  {%
    set rows = (rows.push(
      [
        {
          text: crime.matchedText
        },
        {
          html: link
        },
        {
          html: crime.policeForceArea + ",</br>" + crime.batchId
        },
        {
          text: crime.crimeType
        },
        {
          text: crime.crimeDate | formatDateTime("DD/MM/YYYY")
        },
        {
          html: crime.ingestionDateTime | formatDateTime("DD/MM/YYYY") + "</br>" + crime.ingestionDateTime | formatDateTime("HH:mm:ss")
        },
        {
          html: crime.updates
        },
        {
          html: versionTag
        }
      ]
    ), rows)
  %}
{% endfor %}

{% if rows.length == 0 %}
  {%
    set rows = [
      [
        {
          text: "No results found for " + crimeReference + "." if crimeReference else "Enter a crime reference and click search.",
          colspan: 8
        }
      ]
    ]
  %}
{% endif %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-!-static-margin-top-0">Search crimes</h1>
    </div>
  </div>

  <form id="search-crime-versions-form" method="POST" novalidate>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        {{
          govukInput({
            label: {
                text: "Crime reference",
                classes: "govuk-label--s"
            },
            hint: {
              text: "Example: 12/1234567/12"
            },
            classes: "govuk-input--width-10",
            errorMessage: { text: validationErrors.crimeReference } if validationErrors.crimeReference,
            id: "crimeReference",
            name: "crimeReference",
            value: crimeReference
          })
        }}
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {{
          govukButton({
            text: "Search"
          })
        }}
      </div>
    </div>
  </form>

  {{
    dataTable({
      classes: "crime-versions-table",
      columns: [
        {
          text: "Matched"
        },
        {
          text: "Crime reference"
        },
        {
          html: "Police force area,</br>Batch ID"
        },
        {
          text: "Crime type"
        },
        {
          text: "Crime date"
        },
        {
          html: "Ingestion date,</br>time"
        },
        {
          text: "Updates"
        },
        {
          text: "Versions",
          classes: "govuk-!-width-one-eighth"
        }
      ],
      rows: rows,
      pagination: {
        pageCount: pageCount,
        currentPage: pageNumber,
        hrefPrefix: "?" + paginationHrefPrefix
      }
    })
  }}
{% endblock %}
