{% from "components/moj-map/macro.njk" import mojMap %}

<div class="app-map">
  <div class="app-map__sidebar">
    {% if params.sidebarHtml %}
      {{ params.sidebarHtml | safe | trim | indent(2) }}
    {% endif %}
  </div>

  {{
    mojMap({
      alerts: params.alerts,
      apiKey: params.apiKey,
      tileUrl: params.tileUrl,
      vectorUrl: params.vectorUrl,
      cspNonce: params.cspNonce,
      geoJson: params.geoJson,
      usesInternalOverlays: params.usesInternalOverlays,
      controls: {
        scaleControl: 'bar',
        locationDisplay: 'dms',
        rotateControl: 'true',
        zoomSlider: true
      }
    })
  }}
</div>
