{% from "em-map/macro.njk" import emMap %}

<div class="app-map">
  <div class="app-map__sidebar">
    {% if params.sidebarHtml %}
      {{ params.sidebarHtml | safe | trim | indent(2) }}
    {% endif %}
  </div>

  {{
    emMap({
      alerts: params.alerts,
      apiKey: params.apiKey,
      cspNonce: params.cspNonce,
      positions: params.positions,
      usesInternalOverlays: params.usesInternalOverlays,
      controls: {
        scaleControl: 'bar',
        locationDisplay: 'dms',
        rotateControl: 'true',
        olRotationMode: 'right-drag',
        zoomSlider: true
      }
    })
  }}
</div>
