<div class="govuk-grid-row govuk-!-static-margin-bottom-3">
  <div class="govuk-grid-column-full">
    {{
      dataTable({
        caption: "Breakdown by crime type",
        captionClasses: "govuk-table__caption--m",
        classes: "ingestion-attempt-crime-breakdown-table",
        columns: [
          {
            text: "Crime type"
          },
          {
            text: "Submitted",
            format: "numeric"
          },
          {
            text: "Ingested",
            format: "numeric"
          },
          {
            text: "Failed validation",
            format: "numeric"
          }
        ],
        rows: [
          [
            {
              text: "Total",
              classes: "table-cell--background-blue"
            },
            {
              text: ingestionAttempt.submitted,
              classes: "table-cell--background-blue",
              format: "numeric"
            },
            {
              text: ingestionAttempt.successful,
              classes: "table-cell--background-blue",
              format: "numeric"
            },
            {
              text: ingestionAttempt.failed,
              classes: "table-cell--background-blue",
              format: "numeric"
            }
          ],
          [
            {
              text: "Missing"
            },
            {
              text: ingestionAttempt.crimesByCrimeType['MISSING']['submitted'],
              format: "numeric"
            },
            {
              text: ingestionAttempt.crimesByCrimeType['MISSING']['successful'],
              format: "numeric"
            },
            {
              text: ingestionAttempt.crimesByCrimeType['MISSING']['failed'],
              format: "numeric"
            }
          ],
          [
            {
              text: "BIAD - Burglary in a dwelling"
            },
            {
              text: ingestionAttempt.crimesByCrimeType['BIAD']['submitted'],
              format: "numeric"
            },
            {
              text: ingestionAttempt.crimesByCrimeType['BIAD']['successful'],
              format: "numeric"
            },
            {
              text: ingestionAttempt.crimesByCrimeType['BIAD']['failed'],
              format: "numeric"
            }
          ],
          [
            {
              text: "BOTD - Burglary in a building other than a dwelling"
            },
            {
              text: ingestionAttempt.crimesByCrimeType['BOTD']['submitted'],
              format: "numeric"
            },
            {
              text: ingestionAttempt.crimesByCrimeType['BOTD']['successful'],
              format: "numeric"
            },
            {
              text: ingestionAttempt.crimesByCrimeType['BOTD']['failed'],
              format: "numeric"
            }
          ],
          [
            {
              text: "RB - Robbery"
            },
            {
              text: ingestionAttempt.crimesByCrimeType['RB']['submitted'],
              format: "numeric"
            },
            {
              text: ingestionAttempt.crimesByCrimeType['RB']['successful'],
              format: "numeric"
            },
            {
              text: ingestionAttempt.crimesByCrimeType['RB']['failed'],
              format: "numeric"
            }
          ],
          [
            {
              text: "TFMV - Theft from motor vehicle"
            },
            {
              text: ingestionAttempt.crimesByCrimeType['TFMV']['submitted'],
              format: "numeric"
            },
            {
              text: ingestionAttempt.crimesByCrimeType['TFMV']['successful'],
              format: "numeric"
            },
            {
              text: ingestionAttempt.crimesByCrimeType['TFMV']['failed'],
              format: "numeric"
            }
          ],
          [
            {
              text: "TFP - Theft from person"
            },
            {
              text: ingestionAttempt.crimesByCrimeType['TFP']['submitted'],
              format: "numeric"
            },
            {
              text: ingestionAttempt.crimesByCrimeType['TFP']['successful'],
              format: "numeric"
            },
            {
              text: ingestionAttempt.crimesByCrimeType['TFP']['failed'],
              format: "numeric"
            }
          ],
          [
            {
              text: "TOMV - Theft of motor vehicle"
            },
            {
              text: ingestionAttempt.crimesByCrimeType['TOMV']['submitted'],
              format: "numeric"
            },
            {
              text: ingestionAttempt.crimesByCrimeType['TOMV']['successful'],
              format: "numeric"
            },
            {
              text: ingestionAttempt.crimesByCrimeType['TOMV']['failed'],
              format: "numeric"
            }
          ]
        ]
      })
    }}
  </div>
</div>
