<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">Failed ingestion</h2>
    <p>
      No crimes have been ingested. Please refer to email "MoJ Acquisitive Crime - Ingestion - Failure -
      {{ ingestionAttempt.createdAt | formatDateTime("DD/MM/YYYY") }} / {{ ingestionAttempt.policeForceArea }} /
      {{ ingestionAttempt.fileName }}" for details.
    </p>
  </div>
</div>
